<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Sistema de Gestión de Componentes Electrónicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        h1, h2 {
            color: #343a40;
        }
        .container {
            margin-top: 50px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .btn {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenido al Sistema de Gestión de Componentes Electrónicos</h1>
        <p>Este sistema permite gestionar la información de componentes electrónicos, visualizar sus relaciones en un grafo y realizar un seguimiento detallado.</p>
        
        <h2>Funcionalidades del Sistema</h2>
        <div class="list-group">
            <a href="{{ url_for('router.component_list') }}" class="list-group-item list-group-item-action">Ver Lista de Componentes</a>
            <a href="{{ url_for('router.save_component') }}" class="list-group-item list-group-item-action">Agregar Nuevo Componente</a>
            <a href="{{ url_for('router.get_graph') }}" class="list-group-item list-group-item-action">Ver Grafo</a>
            <a href="{{ url_for('router.add_edge') }}" class="list-group-item list-group-item-action">Agregar Conexion</a>
            <form action="{{ url_for('router.update_graph') }}" class="list-group-item list-group-item-action" method="POST">
                <button type="submit" class="btn btn-primary">Actualizar Grafo</button>
            </form>
            
        </div>
        
        <h2>Información Adicional</h2>
        <p>El sistema permite analizar cómo se relacionan los componentes electrónicos en circuitos, revisar sus características técnicas y facilitar su gestión en proyectos.</p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
